.detail_product {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.imagen {
  width: 40% !important;
}

.carousel__prev,
.carousel__next {
  background-color: white !important;
  color: #0f2034 !important;
  box-sizing: content-box;
  border: 2px solid #0f2034!important;
}
.carousel__liveregion {
  display: none;
}
@media (max-width: 1025px) {
  .imagen {
    width: 75% !important;
  }

}
@media(max-width:800px){
.cel-none{
  display: none!important;
}
}

