@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
:root {
  --colorPrimario: #0f2034;
  --colorSecundario: #F1F6F9;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}

body {
  background-color: var(--colorSecundario) !important;
  background-color: white;
}

.fondoNegro {
  background-color: var(--colorPrimario) !important;
}

.textoBlanco {
  color: var(--colorSecundario) !important;
}

.textoNegro {
  color: var(--colorPrimario) !important;
}

.colorFondoBlanco::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--colorPrimario);
}

.colorFondoBlanco h5,
img,
p {
  position: relative;
  z-index: 1;
}

.colorFondoNegro::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--colorSecundario);
}

.colorFondoNegro h5,
img,
p {
  position: relative;
  z-index: 1;
}

.cardNegra {
  /* From https://css.glass */
  background-color: #152c47 !important;
}

.textito {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.baner {
  height: 15% !important;
}

.carousel {
  width: 50% !important;
}
.card {
  width: 18rem;
  height: 20rem;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}
.baner_imagen {
  width: 10rem;
}

/*Media queries*/
@media (max-width: 1312px) {
  .card {
    width: 15rem;
    height: 18rem;
  }
}

@media (max-width: 786px) {
  .carousel {
    width: 75% !important;
  }
  .card {
    width: 10rem;
    height: 15rem;
  }
  .baner_imagen {
    width: 5rem;
  }

  .colorFondoBlanco::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 60%;
    background-color: var(--colorPrimario);
  }
  .colorFondoNegro::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 60%;
    background-color: var(--colorSecundario);
  }
}
